* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

#canvas1 {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: radial-gradient( rgba(89, 0, 255, 0.425), rgba(22, 0, 122, 0.719), rgb(3,0,53), rgb(16,23,71));
}

body {
    color: rgba(107, 113, 199, 0.397);
}
